{% extends "layout.html" %}

{% block content %}
            <h1 class="text-center mb-4">Agregar Nuevo Empleado</h1></div>
            <form id="empleado-form" enctype="multipart/form-data"class= "container">
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <label for="clave" class="form-label">Clave:</label>
                        <input type="text" id="clave" name="clave" class="form-control" placeholder="Ingresa la clave del empleado" required>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <label for="RFC" class="form-label">RFC:</label>
                        <input type="text" id="RFC" name="RFC" class="form-control" placeholder="Ingresa el RFC del empleado" required>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <label for="nombres" class="form-label">Nombres:</label>
                        <input type="text" id="nombres" name="nombres" class="form-control" placeholder="Ingresa los nombres del empleado" required>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <label for="apellidos" class="form-label">Apellidos:</label>
                        <input type="text" id="apellidos" name="apellidos" class="form-control" placeholder="Ingresa los apellidos del empleado" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento:</label>
                        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control" required>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <label for="edad" class="form-label">Edad:</label>
                        <input type="number" id="edad" name="edad" class="form-control" placeholder="La edad se calculará automáticamente" readonly>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <label for="sueldo" class="form-label">Sueldo:</label>
                        <input type="number" id="sueldo" name="sueldo" class="form-control" placeholder="Ingresa el sueldo del empleado" step="0.01" required>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <label for="area_laboral" class="form-label">Área Laboral:</label>
                        <input type="text" id="area_laboral" name="area_laboral" class="form-control" placeholder="Ingresa el área laboral del empleado" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Ingresa el email del empleado" required>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <label for="usuario_id" class="form-label">Usuario</label>
                        <select id="usuario_id" name="usuario_id" class="form-select">
                            {% for usuario in usuarios_disponibles %}
                                <option value="{{ usuario.id_usuario }}">{{ usuario.nombre_usuario }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <label for="sucursal_id" class="form-label">Sucursal</label>
                        <select id="sucursal_id" name="sucursal_id" class="form-select">
                            {% for sucursal in sucursales %}
                                <option value="{{ sucursal.id_sucursal }}">{{ sucursal.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <label for="inputFile" class="form-label">Imagen</label>
                        <input type="file" name="inputFile">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <button type="submit" class="btn btn-success w-100" id="empleado-btn">Agregar Empleado</button>
                    </div>
                </div>
            </form>
    <script>
        const empleadoForm = document.getElementById('empleado-form');

        // Función para calcular la edad a partir de la fecha de nacimiento
        function calcularEdad(fechaNacimiento) {
            const hoy = new Date();
            const fechaNac = new Date(fechaNacimiento);
            let edad = hoy.getFullYear() - fechaNac.getFullYear();
            const mes = hoy.getMonth() - fechaNac.getMonth();

            if (mes < 0 || (mes === 0 && hoy.getDate() < fechaNac.getDate())) {
                edad--;
            }

            return edad;
        }

        // Evento al cambiar la fecha de nacimiento
        document.getElementById('fecha_nacimiento').addEventListener('change', function () {
            const fechaNacimiento = this.value;
            const edadInput = document.getElementById('edad');
            const edadCalculada = calcularEdad(fechaNacimiento);

            if (edadCalculada >= 18) {
                edadInput.value = edadCalculada;
            } else {
                alert('La edad debe ser igual o mayor a 18 años.');
                this.value = ''; // Limpiar el valor de la fecha de nacimiento
                edadInput.value = ''; // Limpiar el valor de la edad
            }
        });

        empleadoForm.addEventListener('submit', function (event) {
            event.preventDefault();

            const formData = new FormData(empleadoForm);

            fetch('/agregarEmpleado', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                window.location.href = '/indexEmpleado'; // Redirecciona a la página de empleados después de agregar
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
    {% endblock %}
