{% extends "layout.html" %}

{% block content %}
    <style>
        .details-container {
            display: flex;
            align-items: flex-start;
        }

        .details-table {
            width: 50%; /* Ajusta según sea necesario */
            margin-right: 20px; /* Espacio entre la tabla y la tarjeta */
        }

        .product-card {
            width: 50%; /* Ajusta según sea necesario */
            display: flex;
            align-items: center;
        }

        .product-card img {
            max-width: 100%;
            max-height: 100%;
            margin-right: 10px; /* Espacio entre la imagen y los detalles de la tarjeta */
        }

        .product-card div {
            flex-grow: 1;
        }

        td, th {
            padding: 8px;
            text-align: left;
        }

        th {
            font-weight: bold;
        }

        td {
            border-bottom: 1px solid #ddd;
        }
    </style>

    <h1>Detalles de Empleado</h1>

    <div class="details-container">
        <table class="details-table">
            <tbody id="empleado-details-body">
                <!-- Los detalles del empleado se insertarán aquí dinámicamente con JavaScript -->
            </tbody>
        </table>

        <div class="product-card">
            <img src="data:image/png;base64,{{ imagenes }}">
            <div>
                <h2>{{ empleado.sucursal_id.nombre }}</h2>
                <!-- Otros detalles del empleado, si es necesario -->
            </div>
        </div>
    </div>

    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');

        document.addEventListener('DOMContentLoaded', function () {
            const empleadoDetailsBody = document.getElementById('empleado-details-body');
            const empleadoData = {{ empleado | tojson | safe }}; // Este valor debe ser pasado desde el servidor al renderizar la plantilla
            
            const order = ['clave', 'RFC', 'nombres', 'apellidos', 'fecha_nacimiento', 'edad', 'sueldo', 'area_laboral', 'email', 'usuario_id', 'sucursal_id'];

            function appendDetailRow(key, value) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td>${key}:</td>
                    <td>${value}</td>
                `;
                empleadoDetailsBody.appendChild(newRow);
            }
            order.forEach(key => {
                appendDetailRow(key, empleadoData[key]);
            });
        });
    </script>
{% endblock %}