{% extends "layout.html" %}

{% block content %}
    <h1>Detalles de Empleado</h1>

    <div class="details-container">
        <table class="details-table">
            <tbody id="empleado-details-body">
                <!-- Los detalles del empleado se insertarán aquí dinámicamente con JavaScript -->
            </tbody>
        </table>

        <div class="product-card">
            <img src="data:image/png;base64,{{ imagenes }}">
            <div>
                <h2>{{ empleado.sucursal_id.nombre }}</h2>
                <!-- Otros detalles del empleado, si es necesario -->
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const empleadoDetailsBody = document.getElementById('empleado-details-body');
            const empleadoData = {{ empleado | tojson | safe }}; // Este valor debe ser pasado desde el servidor al renderizar la plantilla
            
            const order = ['clave', 'RFC', 'nombres', 'apellidos', 'fecha_nacimiento', 'edad', 'sueldo', 'area_laboral', 'email', 'usuario_id', 'sucursal_id'];

            function appendDetailRow(key, value) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td>${key}:</td>
                    <td>${value}</td>
                `;
                empleadoDetailsBody.appendChild(newRow);
            }
            order.forEach(key => {
                appendDetailRow(key, empleadoData[key]);
            });
        });
    </script>
{% endblock %}