{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/tabla.css">
    <h1 class="text-center">Consulta de Empleados</h1>
    <a class="btn btn-primary" id="agregarEmpleado">Agregar Empleado</a>
    <div class="table-container">
        <table border="1" class="table table-bordered">
            <thead class="thead-light">
                <tr class="table-danger">
                    <th>Clave</th>
                    <th>RFC</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Edad</th>
                    <th>Sueldo</th>
                    <th>Área Laboral</th>
                    <th>Email</th>
                    <th>Usuario ID</th>
                    <th>Sucursal ID</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="empleados-table-body">
                <!-- Las filas de la tabla se insertarán aquí dinámicamente con JavaScript -->
            </tbody>
        </table>
    </div>
    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');

        var usuarios_disponibles;

        function verificarUsuarios() {
         
            if (usuarios_disponibles > 0) {
                // Redirigir a la ruta '/agregarEmpleado'
                window.location.href = '/agregarEmpleado';
            } else {
                // Mostrar una alerta si no hay usuarios disponibles
                alert('No hay usuarios disponibles. No puedes agregar un empleado en este momento.');
            }
        }
        document.getElementById('agregarEmpleado').addEventListener('click', verificarUsuarios);

        function verEmpleado(clave) {
            window.location.href = `/detalleEmpleado/${clave}`;
        }

        function editarEmpleado(clave) {
            window.location.href = `/editarEmpleado/${clave}`;
        }

        function eliminarEmpleado(clave) {
            if (confirm("¿Estás seguro de que deseas eliminar este empleado?")) {
                fetch(`/eliminarEmpleado/${clave}`, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => {
                    // Manejar la respuesta del servidor, por ejemplo, redireccionar o mostrar un mensaje
                    console.log(data);
                    window.location.href = '/indexEmpleado'; 
                })
                .catch(error => console.error('Error:', error));
            }
        }

        function cambiarImagen(clave) {
            const inputFile = document.getElementById(`inputFile-${clave}`);
            //inputFile.click();
            inputFile.addEventListener('change', function() {
                const file = this.files[0];
                const formData = new FormData();
                formData.append('inputFile', file);
                fetch(`/modificarImagenEmpleado/${clave}`, {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    // You may want to update the UI or provide feedback to the user
                })
                .catch(error => console.error('Error:', error));
            });
        }
        
        document.addEventListener('DOMContentLoaded', function () {
            const empleadosTableBody = document.getElementById('empleados-table-body');

            function appendRow(empleado) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td class="table-light">${empleado.clave}</td>
                    <td class="table-light">${empleado.RFC}</td>
                    <td class="table-light">${empleado.nombres}</td>
                    <td class="table-light">${empleado.apellidos}</td>
                    <td class="table-light">${empleado.fecha_nacimiento}</td>
                    <td class="table-light">${empleado.edad}</td>
                    <td class="table-light">${empleado.sueldo}</td>
                    <td class="table-light">${empleado.area_laboral}</td>
                    <td class="table-light">${empleado.email}</td>
                    <td class="table-light">${empleado.usuario_id}</td>
                    <td class="table-light">${empleado.sucursal_id}</td>
                    <td class="actions table-light">
                        <button class="ver-btn btn btn-outline-primary ">Ver</button>
                        <button class="editar-btn btn btn-outline-info">Editar</button>
                        <button class="eliminar-btn btn-outline-danger">Eliminar</button>
                        <button type="button" class="cambiarImagenLabel btn btn-outline-secondary" onclick="document.getElementById('inputFile-${empleado.clave}').click();">Cambiar Imagen</button>
                        <input type="file" id="inputFile-${empleado.clave}" name="inputFile" style="display: none;">
                    </td>
                `;
                empleadosTableBody.appendChild(newRow);

                // Asociar eventos después de agregar la fila al DOM
                newRow.querySelector('.ver-btn').addEventListener('click', () => verEmpleado(empleado.clave));
                newRow.querySelector('.editar-btn').addEventListener('click', () => editarEmpleado(empleado.clave));
                newRow.querySelector('.eliminar-btn').addEventListener('click', () => eliminarEmpleado(empleado.clave));
                newRow.querySelector('.cambiarImagenLabel').addEventListener('click', () => cambiarImagen(empleado.clave));

            }

            fetch('/listaEmpleados')
                .then(response => response.json())
                .then(data => {
                    // Ordenar la lista de empleados por clave
                    const empleadosOrdenados = data.empleados.sort((a, b) => a.clave.localeCompare(b.clave));
                    empleadosOrdenados.forEach(appendRow);
                    usuarios_disponibles=data.usuarios_disponibles;
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.empleados');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
        } else {
            console.error('No se encontró ningún elemento con la clase "empleados"');
        }
    </script>
    {% endblock %}