{% extends "layout.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="../../static/css/tabla.css">
    <h1 class="text-center">Consulta de Empleados</h1>
    <a class="btn btn-primary" id="agregarEmpleado">Agregar Empleado</a>
    <div class="table-container">
        <table border="1" class="table table-bordered">
            <thead class="thead-light">
                <tr class="table-danger">
                    <th>Clave</th>
                    <th>RFC</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Edad</th>
                    <th>Sueldo</th>
                    <th>Área Laboral</th>
                    <th>Email</th>
                    <th>Usuario ID</th>
                    <th>Sucursal ID</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="empleados-table-body">
                <!-- Las filas de la tabla se insertarán aquí dinámicamente con JavaScript -->
            </tbody>
        </table>
    </div>
    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');

        var usuarios_disponibles;
        var sucursales_disponibles;

        function verificarUsuarios() {
    if (usuarios_disponibles > 0) {
        if(sucursales_disponibles > 0){
        // Redirigir a la ruta '/agregarEmpleado'
        window.location.href = '/agregarEmpleado';
        }else{
            // Mostrar una alerta de SweetAlert si no hay usuarios disponibles
        Swal.fire({
            icon: 'error',
            title: '¡Error!',
            text: 'No hay sucursales disponibles. No puedes agregar un empleado en este momento.',
        });
        }
    } else {
        // Mostrar una alerta de SweetAlert si no hay usuarios disponibles
        Swal.fire({
            icon: 'error',
            title: '¡Error!',
            text: 'No hay usuarios disponibles. No puedes agregar un empleado en este momento.',
        });
    }
}
        document.getElementById('agregarEmpleado').addEventListener('click', verificarUsuarios);

        function verEmpleado(clave) {
            window.location.href = `/detalleEmpleado/${clave}`;
        }

        function editarEmpleado(clave) {
            window.location.href = `/editarEmpleado/${clave}`;
        }

        function eliminarEmpleado(clave) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Esta acción no se puede deshacer',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/eliminarEmpleado/${clave}`, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => {
                    // Manejar la respuesta del servidor, por ejemplo, redireccionar o mostrar un mensaje
                    console.log(data);
                    Swal.fire({
                        title: 'Eliminada',
                        text: 'La categoría ha sido eliminada correctamente',
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                    }).then(() => {
                        window.location.href = '/indexEmpleado';
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        title: 'Error',
                        text: 'Hubo un error al intentar eliminar la categoría',
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                    });
                });
            }
        });
    }

    function cambiarImagen(clave) {
    Swal.fire({
        title: 'Aviso',
        text: 'La imagen se está cargando. Por favor, espera...',
        icon: 'info',
        showConfirmButton: false,
        allowOutsideClick: false, 
    });

    const inputFile = document.getElementById(`inputFile-${clave}`);
    let isCancelled = false;

    inputFile.addEventListener('change', function () {
        const file = this.files[0];

        if (file) {
            const formData = new FormData();
            formData.append('inputFile', file);

            fetch(`/modificarImagenEmpleado/${clave}`, {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                Swal.fire({
                    title: 'Carga Completa',
                    text: 'La imagen se ha cargado correctamente',
                    icon: 'success',
                    confirmButtonColor: '#3085d6',
                });

            })
            .catch(error => {
                console.error('Error:', error);
            });
        } else {
            isCancelled = true;
            Swal.close();  
        }
    });


    inputFile.addEventListener('cancel', function () {
    isCancelled = true;
    
    const timerInterval = 3000; // 5 segundos

    Swal.fire({
        title: 'Carga Cancelada',
        text: 'La imagen no se seleccionó. Cerrando en 5 segundos...',
        icon: 'warning',
        confirmButtonColor: '#3085d6',
        timer: timerInterval,
        timerProgressBar: true,
        showConfirmButton: false,
    }).then(() => {
        if (isCancelled) {
            Swal.close();  // Cerrar el modal de carga si se cancela la selección de archivo
        }
    });
});


    Swal.on('close', () => {
        if (isCancelled) {
            Swal.fire({
                title: 'Cancelado',
                text: 'La carga de imagen ha sido cancelada.',
                icon: 'warning',
                confirmButtonColor: '#d33',
            });
        }
    });
}
        
        document.addEventListener('DOMContentLoaded', function () {
            const empleadosTableBody = document.getElementById('empleados-table-body');

            function appendRow(empleado) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td class="table-light">${empleado.clave}</td>
                    <td class="table-light">${empleado.RFC}</td>
                    <td class="table-light">${empleado.nombres}</td>
                    <td class="table-light">${empleado.apellidos}</td>
                    <td class="table-light">${empleado.fecha_nacimiento}</td>
                    <td class="table-light">${empleado.edad}</td>
                    <td class="table-light">${empleado.sueldo}</td>
                    <td class="table-light">${empleado.area_laboral}</td>
                    <td class="table-light">${empleado.email}</td>
                    <td class="table-light">${empleado.usuario_id}</td>
                    <td class="table-light">${empleado.sucursal_id}</td>
                    <td class="actions table-light">
                        <button class="ver-btn btn btn-outline-primary ">Ver</button>
                        <button class="editar-btn btn btn-outline-info">Editar</button>
                        <button class="eliminar-btn btn btn-outline-danger">Eliminar</button>
                        <button type="button" class="cambiarImagenLabel btn btn-outline-secondary" onclick="document.getElementById('inputFile-${empleado.clave}').click();">Cambiar Imagen</button>
                        <input type="file" id="inputFile-${empleado.clave}" name="inputFile" style="display: none;">
                    </td>
                `;
                empleadosTableBody.appendChild(newRow);

                // Asociar eventos después de agregar la fila al DOM
                newRow.querySelector('.ver-btn').addEventListener('click', () => verEmpleado(empleado.clave));
                newRow.querySelector('.editar-btn').addEventListener('click', () => editarEmpleado(empleado.clave));
                newRow.querySelector('.eliminar-btn').addEventListener('click', () => eliminarEmpleado(empleado.clave));
                newRow.querySelector('.cambiarImagenLabel').addEventListener('click', () => cambiarImagen(empleado.clave));

            }

            fetch('/listaEmpleados')
                .then(response => response.json())
                .then(data => {
                    // Ordenar la lista de empleados por clave
                    const empleadosOrdenados = data.empleados.sort((a, b) => a.clave.localeCompare(b.clave));
                    empleadosOrdenados.forEach(appendRow);
                    usuarios_disponibles=data.usuarios_disponibles;
                    sucursales_disponibles=data.sucursales_disponibles;
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.empleados');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
        } else {
            console.error('No se encontró ningún elemento con la clase "empleados"');
        }
    </script>
    {% endblock %}