{% extends "layout.html" %}

{% block content %}
<style>
    .containerAgregar {
        display: flex;
        height: 80%;
        padding-right: 100px;
        padding-left: 100px;
    }
    
    .half {
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
    }
    
    /* Estilos adicionales para hacerlo más atractivo visualmente */
    .half:nth-child(odd) {
        background-color: #f0f0f0;
    }

    .listaProductos{
        background-color: #ccc;
        overflow-y: auto; /* Agregado para permitir desplazamiento si hay muchos productos */
        max-height: 100%; /* Ajustado para ocupar toda la altura */
    }

    h2 {
        color: #333;
    }
</style>
<div class="containerAgregar mt-5">

    <div class="half">

        <form id="venta-form" enctype="multipart/form-data"></form>

        <div class="row mb-3">
            <div class="col-sm-12 col-md-6">
                <label for="monto" class="form-label">Monto:</label>
                <input type="number" id="monto" name="monto" class="form-control" placeholder="Enter monto" step="0.01" required>
            </div>

            <div class="col-sm-12 col-md-6">
                <label for="forma_pago" class="form-label">Forma de Pago:</label>
                <input type="text" id="forma_pago" name="forma_pago" class="form-control" placeholder="Enter forma de pago">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-12 col-md-6">
                <label for="sucursal_id" class="form-label">Sucursal:</label>
                <select id="sucursal_id" name="sucursal_id" class="form-select">
                    {% for sucursal in sucursales %}
                        <option value="{{ sucursal.id_sucursal }}">{{ sucursal.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-12 col-md-6">
                <label for="clave_empleado" class="form-label">Empleado:</label>
                <select id="clave_empleado" name="clave_empleado" class="form-select">
                    {% for empleado in empleados %}
                        <option value="{{ empleado.clave }}">{{ empleado.nombres }} {{ empleado.apellidos }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row"><h6 style="text-align: center;">Producto</h6></div>
        <hr>
        <div class="row mb-3">
            <div class="col-sm-12 col-md-6">
                <label for="producto_seleccionado" class="form-label">Producto</label>
                    <select class="form-select producto-seleccionado" name="producto_seleccionado" required>
                        {% for producto in productos %}
                            <option value="{{ producto.codigo_producto }}">{{ producto.sabor }}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="col-sm-12 col-md-6">
                    <label for="cantidad" class="form-label">Cantidad</label>
                    <input type="number" class="form-control cantidad" name="cantidad" placeholder="Enter cantidad"value=1 required>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col">
                <button type="button" id="add-producto-btn" class="btn btn-primary">Añadir</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success w-100" id="venta-btn">Pagar</button>
            </div>
        </div>

    </form>
    </div>

    <div id="listaProductos" class="half listaProductos">

    </div>
</div>
    <script>        
            const listaProductosContainer = document.getElementById('listaProductos');
            const addProductoButton = document.getElementById('add-producto-btn');
    
            function createProductoList(producto) {
                const nuevoProducto = document.createElement('div');
                nuevoProducto.classList.add('producto-vendido-input');  // Agregada la clase
                nuevoProducto.innerHTML = `<p>${producto.codigo_producto} - ${producto.cantidad}</p>`;
                listaProductosContainer.appendChild(nuevoProducto);
            }
    
            addProductoButton.addEventListener('click', function () {
                const productoSeleccionado = document.querySelector('.producto-seleccionado').value;
                const cantidad = document.querySelector('.cantidad').value;
    
                const nuevoProducto = {
                    'codigo_producto': productoSeleccionado,
                    'cantidad': cantidad
                };
    
                createProductoList(nuevoProducto);
            });

        
            const ventaForm = document.getElementById('venta-form');
        ventaForm.addEventListener('submit', function (event) {
            event.preventDefault();

            const monto = parseFloat(document.getElementById('monto').value);
            const formaPago = document.getElementById('forma_pago').value;
            const sucursalId = parseInt(document.getElementById('sucursal_id').value);
            const claveEmpleado = document.getElementById('clave_empleado').value;

            const productosVendidosInputs = document.querySelectorAll('.producto-vendido-input');
            const productosVendidos = Array.from(productosVendidosInputs).map(input => {
                return {
                    'codigo_producto': input.querySelector('.producto-seleccionado').value,
                    'cantidad': parseInt(input.querySelector('.cantidad').value)
                };
            });

            fetch('/agregarVenta', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'monto': monto,
                    'forma_pago': formaPago,
                    'sucursal_id': sucursalId,
                    'clave_empleado': claveEmpleado,
                    'productos_vendidos': productosVendidos
                })
            })
            .then(response => response.json())
            .then(data => {
                window.location.href = '/indexVenta'; // Redirecciona a la página de ventas después de agregar
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.inicio');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
          } else {
            console.error('No se encontró ningún elemento con la clase "inicio"');
          }
    </script>
   
    {% endblock %}
