{% extends "layout.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<h1 class="text-center mb-4">Agregar Nuevo Cliente</h1>

<form id="cliente-form" class="container">
    <div class="row mb-3">
        <div class="col-sm-12">
            <label for="nombre_empresa" class="form-label">Nombre de la Empresa:</label>
            <input type="text" id="nombre_empresa" name="nombre_empresa" class="form-control" placeholder="Ingresa el nombre de la empresa">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            <label for="direccion" class="form-label">Dirección:</label>
            <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Ingresa la dirección">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12 col-md-6">
            <label for="codigo_producto" class="form-label">Código del Producto:</label>
            <input type="text" id="codigo_producto" name="codigo_producto" class="form-control" placeholder="Ingresa el código del producto">
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="cantidad_pedida" class="form-label">Cantidad Pedida:</label>
            <input type="number" id="cantidad_pedida" name="cantidad_pedida" class="form-control" placeholder="Ingresa la cantidad pedida">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12 col-md-6">
            <label for="costo_total" class="form-label">Costo Total:</label>
            <input type="number" id="costo_total" name="costo_total" class="form-control" placeholder="Ingresa el costo total" step="0.01">
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="forma_pago" class="form-label">Forma de Pago:</label>
            <input type="text" id="forma_pago" name="forma_pago" class="form-control" placeholder="Ingresa la forma de pago">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            <label for="sucursal_id" class="form-label">Sucursal:</label>
            <select id="sucursal_id" name="sucursal_id" class="form-select">
                {% for sucursal in sucursales %}
                    <option value="{{ sucursal.id_sucursal }}">{{ sucursal.nombre }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <button type="submit" class="btn btn-success w-100" id="cliente-btn">Agregar Cliente</button>
        </div>
    </div>
</form>
    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');
        const clienteForm = document.getElementById('cliente-form');
        
        clienteForm.addEventListener('submit', function (event) {
            event.preventDefault();

            const nombre_empresa = document.getElementById('nombre_empresa').value;
            const direccion = document.getElementById('direccion').value;
            const codigo_producto = document.getElementById('codigo_producto').value;
            const cantidad_pedida = parseInt(document.getElementById('cantidad_pedida').value);
            const costo_total = parseFloat(document.getElementById('costo_total').value);
            const forma_pago = document.getElementById('forma_pago').value;
            const sucursal_id = parseInt(document.getElementById('sucursal_id').value);

            fetch('/agregarCliente', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'nombre_empresa': nombre_empresa,
                    'direccion': direccion,
                    'codigo_producto': codigo_producto,
                    'cantidad_pedida': cantidad_pedida,
                    'costo_total': costo_total,
                    'forma_pago': forma_pago,
                    'sucursal_id': sucursal_id
                })
            })
            .then(response => response.json())
            .then(data => {
                // Redirecciona a la página de clientes después de agregar
                window.location.href = '/indexCliente';
                Swal.fire({
                    title: 'Éxito',
                    text: 'Datos del cliente agregados correctamente',
                    icon: 'success',
                    confirmButtonColor: '#3085d6',
                });
            })
            .catch(error => {
            console.error('Error:', error);
            // Puedes manejar el error aquí, por ejemplo, mostrar un mensaje de error con SweetAlert
            Swal.fire({
                title: 'Error',
                text: 'Hubo un error al agregar los datos del cliente',
                icon: 'error',
                confirmButtonColor: '#d33',
            });
        });
        });
    </script>
    <script>
        var elemento = document.querySelector('.clientes');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
        } else {
            console.error('No se encontró ningún elemento con la clase "clientes"');
        }
    </script>
    {% endblock %}