{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/detalle.css">

<div class="details-container">
    <h1>Detalles de Cliente</h1>
    <table class="details-table">
        <tbody id="cliente-details-body">
            <!-- Los detalles del cliente se insertarán aquí dinámicamente con JavaScript -->
        </tbody>
    </table>
    <!-- JavaScript para agregar dinámicamente los detalles del cliente -->
</div>
    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');

        document.addEventListener('DOMContentLoaded', function () {
            const clienteDetailsBody = document.getElementById('cliente-details-body');
            const clienteData = {{ cliente | tojson | safe }}; // Este valor debe ser pasado desde el servidor al renderizar la plantilla
            
            const order = ['nombre_empresa', 'direccion', 'codigo_producto', 'cantidad_pedida', 'costo_total', 'forma_pago', 'fecha_registro', 'sucursal_id'];

            function appendDetailRow(key, value) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td>${key}:</td>
                    <td>${value}</td>
                `;
                clienteDetailsBody.appendChild(newRow);
            }

            order.forEach(key => {
                appendDetailRow(key, clienteData[key]);
            });
        });
    </script>
    <script>
        var elemento = document.querySelector('.clientes');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
        } else {
            console.error('No se encontró ningún elemento con la clase "clientes"');
        }
    </script>
    {% endblock %}