{% extends "layout.html" %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="../../static/css/tabla.css">
    <h1 class="text-center">Consulta de Clientes</h1>
    <a class="btn btn-primary" id="agregarCliente">Agregar Cliente</a>
    <div class="table-container"></div>
        <table border="1" class="table table-bordered">
            <thead class="thead-light">
                <tr class="table-danger">
                    <th>Nombre Empresa</th>
                    <th>Dirección</th>
                    <th>Código Producto</th>
                    <th>Cantidad Pedida</th>
                    <th>Costo Total</th>
                    <th>Forma Pago</th>
                    <th>Sucursal ID</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="clientes-table-body">
                <!-- Las filas de la tabla se insertarán aquí dinámicamente con JavaScript -->
            </tbody>
        </table>
    </div>
    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');

        var sucursales_disponibles;

function verificarClientes() {

    if(sucursales_disponibles > 0){
        // Redirigir a la ruta '/agregarEmpleado'
        window.location.href = '/agregarCliente';
        }else{
            // Mostrar una alerta de SweetAlert si no hay usuarios disponibles
        Swal.fire({
            icon: 'error',
            title: '¡Error!',
            text: 'No hay sucursales disponibles. No puedes agregar un cliente en este momento.',
        });

}
        }
document.getElementById('agregarCliente').addEventListener('click', verificarClientes);

        function verCliente(nombre_empresa) {
            window.location.href = `/detalleCliente/${nombre_empresa}`;
        }

        function editarCliente(nombre_empresa) {
            window.location.href = `/editarCliente/${nombre_empresa}`;
        }

        function eliminarCliente(nombre_empresa) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Esta acción no se puede deshacer',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/eliminarCliente/${nombre_empresa}`, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => {
                    // Manejar la respuesta del servidor, por ejemplo, redireccionar o mostrar un mensaje
                    console.log(data);
                    Swal.fire({
                        title: 'Eliminada',
                        text: 'La categoría ha sido eliminada correctamente',
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                    }).then(() => {
                        window.location.href = '/indexCategoria';
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        title: 'Error',
                        text: 'Hubo un error al intentar eliminar la categoría',
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                    });
                });
            }
        });
    }
        document.addEventListener('DOMContentLoaded', function () {
            const clientesTableBody = document.getElementById('clientes-table-body');

            function appendRow(cliente) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td class="table-light">${cliente.nombre_empresa}</td>
                    <td class="table-light">${cliente.direccion}</td>
                    <td class="table-light">${cliente.codigo_producto}</td>
                    <td class="table-light">${cliente.cantidad_pedida}</td>
                    <td class="table-light">${cliente.costo_total}</td>
                    <td class="table-light">${cliente.forma_pago}</td>
                    <td class="table-light">${cliente.sucursal_id}</td>
                    <td class="actions table-light">
                        <button class="ver-btn btn btn-outline-primary">Ver</button>
                        <button class="editar-btn btn btn-outline-info">Editar</button>
                        <button class="eliminar-btn btn btn-outline-danger">Eliminar</button>
                    </td>
                `;
                clientesTableBody.appendChild(newRow);

                // Asociar eventos después de agregar la fila al DOM
                newRow.querySelector('.ver-btn').addEventListener('click', () => verCliente(cliente.nombre_empresa));
                newRow.querySelector('.editar-btn').addEventListener('click', () => editarCliente(cliente.nombre_empresa));
                newRow.querySelector('.eliminar-btn').addEventListener('click', () => eliminarCliente(cliente.nombre_empresa));
            }

            fetch('/listaClientes')
                .then(response => response.json())
                .then(data => {
                    // Ordenar la lista de clientes por nombre_empresa
                    const clientesOrdenados = data.clientes.sort((a, b) => a.nombre_empresa.localeCompare(b.nombre_empresa));
                    clientesOrdenados.forEach(appendRow);

                    sucursales_disponibles=data.sucursales_disponibles;
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.clientes');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
        } else {
            console.error('No se encontró ningún elemento con la clase "clientes"');
        }
    </script>
    {% endblock %}