{% extends "layout.html" %}

{% block content %}
<h1 class="text-center mb-4">Agregar Nueva Categoría</h1>

<form id="categoria-form" class="container">
    <div class="row mb-3">
        <div class="col-sm-12">
            <label for="nombre_categoria" class="form-label">Nombre de la Categoría:</label>
            <input type="text" id="nombre_categoria" name="nombre_categoria" class="form-control" placeholder="Ingresa el nombre de la categoría">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <button type="submit" class="btn btn-success w-100" id="categoria-btn">Agregar Categoría</button>
        </div>
    </div>
</form>
    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');
        
        const categoriaForm = document.getElementById('categoria-form');
        categoriaForm.addEventListener('submit', function (event) {
            event.preventDefault();

            const nombre_categoria = document.getElementById('nombre_categoria').value;

            fetch('/agregarCategoria', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'nombre_categoria': nombre_categoria
                })
            })
            .then(response => response.json())
            .then(data => {
                window.location.href = '/indexCategoria'; // Redirecciona a la página de categorías después de agregar
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.categorias');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
        } else {
            console.error('No se encontró ningún elemento con la clase "categorias"');
        }
    </script>
    {% endblock %}
