{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/detalle.css">

<div class="details-container">
    <h1>Detalles de Categoría</h1>
    <table class="details-table">
        <tbody id="categoria-details-body">
            <!-- Los detalles de la categoría se insertarán aquí dinámicamente con JavaScript -->
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const categoriaDetailsBody = document.getElementById('categoria-details-body');
        const categoriaData = {{ categoria | tojson | safe }}; // Este valor debe ser pasado desde el servidor al renderizar la plantilla
        
        const order = ['id_categoria', 'nombre_categoria'];

        function appendDetailRow(key, value) {
            const newRow = document.createElement('tr');
            newRow.innerHTML = `
                <td>${key}:</td>
                <td>${value}</td>
            `;
            categoriaDetailsBody.appendChild(newRow);
        }

        order.forEach(key => {
            appendDetailRow(key, categoriaData[key]);
        });
    });
</script>
<script>
    var elemento = document.querySelector('.categorias');
    if (elemento) {
        // Agrega la clase 'active' al elemento
        elemento.classList.add('active');
    } else {
        console.error('No se encontró ningún elemento con la clase "categorias"');
    }
</script>
{% endblock %}