{% extends "layout.html" %}

{% block content %}
    <style>
        td, th {
            padding: 8px;
            text-align: left;
        }

        th {
            font-weight: bold;
        }

        td {
            border-bottom: 1px solid #ddd;
        }

        .details-table {
            width: 100%;
        }
    </style>

    <h1>Detalles de Categoría</h1>
    <table class="details-table">
        <tbody id="categoria-details-body">
            <!-- Los detalles de la categoría se insertarán aquí dinámicamente con JavaScript -->
        </tbody>
    </table>
    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');
        
        document.addEventListener('DOMContentLoaded', function () {
            const categoriaDetailsBody = document.getElementById('categoria-details-body');
            const categoriaData = {{ categoria | tojson | safe }}; // Este valor debe ser pasado desde el servidor al renderizar la plantilla
            
            const order = ['id_categoria', 'nombre_categoria'];

            function appendDetailRow(key, value) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td>${key}:</td>
                    <td>${value}</td>
                `;
                categoriaDetailsBody.appendChild(newRow);
            }
            order.forEach(key => {
                appendDetailRow(key, categoriaData[key]);
            });
        });
    </script>
    {% endblock %}
