{% extends "layout.html" %}

{% block content %}
<h1 class="text-center mb-4">Editar Categoría</h1>

<form id="editar-categoria-form" class="container">
    <div class="row mb-3">
        <div class="col-sm-12">
            <label for="nombre_categoria" class="form-label">Nombre de la Categoría:</label>
            <input type="text" id="nombre_categoria" name="nombre_categoria" class="form-control" placeholder="Ingrese el nombre de la categoría" required>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
    </div>
</form>

    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');

        document.addEventListener('DOMContentLoaded', function () {
            const editarCategoriaForm = document.getElementById('editar-categoria-form');

            // Obtener los elementos del formulario
            const nombreCategoriaInput = document.getElementById('nombre_categoria');

            // Llenar el campo con el valor de la categoría
            nombreCategoriaInput.value = "{{ categoria.nombre_categoria }}";

            // Agregar evento de envío del formulario
            editarCategoriaForm.addEventListener('submit', function (event) {
                event.preventDefault();

                const nombre_categoria = nombreCategoriaInput.value;

                fetch('/editarCategoria/{{ categoria.id_categoria }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'nombre_categoria': nombre_categoria
                    })
                })
                .then(response => response.json())
                .then(data => {
                    window.location.href = '/indexCategoria';
                })
                .catch(error => console.error('Error:', error));
            });
        });
    </script>
    <script>
        var elemento = document.querySelector('.categorias');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
        } else {
            console.error('No se encontró ningún elemento con la clase "categorias"');
        }
    </script>
    {% endblock %}