{% extends "layout.html" %}

{% block content %}

    <link rel="stylesheet" href="../../static/css/tabla.css">
    <h1 class="text-center">Consulta de Categorías</h1>
    <a href="/agregarCategoria" class="btn btn-primary">Agregar Categoría</a>
    <table border="1" class="table table-bordered">
        <thead class="thead-light" >
            <tr class="table-danger">
                <th>ID Categoría</th>
                <th>Nombre Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="categorias-table-body">
            <!-- Las filas de la tabla se insertarán aquí dinámicamente con JavaScript -->
        </tbody>
    </table>
    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');

        function verCategoria(id_categoria) {
            window.location.href = `/detalleCategoria/${id_categoria}`;
        }

        function editarCategoria(id_categoria) {
            window.location.href = `/editarCategoria/${id_categoria}`;
        }

        function eliminarCategoria(id_categoria) {
            if (confirm("¿Estás seguro de que deseas eliminar esta categoría?")) {
                fetch(`/eliminarCategoria/${id_categoria}`, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => {
                    // Manejar la respuesta del servidor, por ejemplo, redireccionar o mostrar un mensaje
                    console.log(data);
                    window.location.href = '/indexCategoria';
                })
                .catch(error => console.error('Error:', error));
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const categoriasTableBody = document.getElementById('categorias-table-body');

            function appendRow(categoria) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td class="table-light">${categoria.id_categoria}</td>
                    <td class="table-light">${categoria.nombre_categoria}</td>
                    <td class="actions table-light">
                        <button class="ver-btn btn btn-outline-primary">Ver</button>
                        <button class="editar-btn btn btn-outline-info">Editar</button>
                        <button class="eliminar-btn btn btn-outline-danger">Eliminar</button>
                    </td>
                `;
                categoriasTableBody.appendChild(newRow);

                // Asociar eventos después de agregar la fila al DOM
                newRow.querySelector('.ver-btn').addEventListener('click', () => verCategoria(categoria.id_categoria));
                newRow.querySelector('.editar-btn').addEventListener('click', () => editarCategoria(categoria.id_categoria));
                newRow.querySelector('.eliminar-btn').addEventListener('click', () => eliminarCategoria(categoria.id_categoria));
            }

            fetch('/listaCategorias')
                .then(response => response.json())
                .then(data => {
                    // Ordenar la lista de categorías por id_categoria
                    const categoriasOrdenadas = data.categorias.sort((a, b) => a.id_categoria - b.id_categoria);
                    categoriasOrdenadas.forEach(appendRow);
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.categorias');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
        } else {
            console.error('No se encontró ningún elemento con la clase "categorias"');
        }
    </script>
    {% endblock %}