{% extends "layout.html" %}

{% block content %}
<h1 class="text-center mb-4">Agregar Sucursal</h1>

<form id="sucursal-form" class="container">
    <div class="row mb-3">
        <div class="col-sm-12">
            <label for="nombre" class="form-label">Nombre de la Sucursal:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingresa el nombre de la Sucursal">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            <label for="direccion" class="form-label">Dirección:</label>
            <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Ingresa dirección">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            <label for="telefonos" class="form-label">Telefonos:</label>
            <div id="telefonos-container">
                <div class="telefono-input">
                    <input type="text" class="form-control telefono" name="telefonos" placeholder="Ingresa telefono">
                    <button type="button" class="btn btn-danger remove-telefono-btn">Eliminar</button>
                </div>
            </div>
            <button type="button" class="btn btn-primary" id="add-telefono-btn">Agregar Telefono</button>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <button type="submit" class="btn btn-success w-100" id="sucursal-btn">Agregar Sucursal</button>
        </div>
    </div>
</form>
    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');

        document.addEventListener('DOMContentLoaded', function () {
            const telefonosContainer = document.getElementById('telefonos-container');
            const addTelefonoButton = document.getElementById('add-telefono-btn');

            addTelefonoButton.addEventListener('click', function () {
                const newTelefonoInput = document.createElement('div');
                newTelefonoInput.classList.add('telefono-input');
                newTelefonoInput.innerHTML = `
                <input type="text" class="form-control telefono" name="telefonos" placeholder="Ingresa telefono">
                <button type="button" class="btn btn-danger remove-telefono-btn">Eliminar</button>
                `;
                telefonosContainer.appendChild(newTelefonoInput);

                const removeTelefonoButton = newTelefonoInput.querySelector('.remove-telefono-btn');
                removeTelefonoButton.addEventListener('click', function () {
                    telefonosContainer.removeChild(newTelefonoInput);
                });
            });
        });

        const sucursalForm = document.getElementById('sucursal-form');
        sucursalForm.addEventListener('submit', function (event) {
            event.preventDefault();

            const nombre = document.getElementById('nombre').value;
            const direccion = document.getElementById('direccion').value;
            const telefonosInputs = document.querySelectorAll('.telefono-input input.telefono');

            const telefonos = Array.from(telefonosInputs).map(input => input.value);

            fetch('/agregarSucursal', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'nombre': nombre,
                    'direccion': direccion,
                    'telefonos': telefonos
                })
            })
            .then(response => response.json())
            .then(data => {
                window.location.href = '/indexSucursal'; // Redirecciona a la página de sucursales después de agregar
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.sucursales');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
          } else {
            console.error('No se encontró ningún elemento con la clase "sucursales"');
          }
    </script>
    {% endblock %}