{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/detalle.css">
<div class="details-container">
    <h1>Detalles de Sucursal</h1>
    <table class="details-table">
        <tbody id="sucursal-details-body">
            <!-- Los detalles de la sucursal se insertarán aquí dinámicamente con JavaScript -->
        </tbody>
    </table>
</div>
    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');

        document.addEventListener('DOMContentLoaded', function () {
            const sucursalDetailsBody = document.getElementById('sucursal-details-body');
            //console.log(sucursal);
            const sucursalData = {{ sucursal | tojson | safe }}; // Este valor debe ser pasado desde el servidor al renderizar la plantilla
            
            const order = ['id_sucursal', 'nombre', 'direccion', 'telefonos'];

            function appendDetailRow(key, value) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td>${key}:</td>
                    <td>${Array.isArray(value) ? value.map(obj => obj.numero).join(', ') : value}</td>
                `;
                sucursalDetailsBody.appendChild(newRow);
            }
            order.forEach(key => {
                appendDetailRow(key, sucursalData[key]);
            });
        });
    </script>
    <script>
        var elemento = document.querySelector('.sucursales');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
          } else {
            console.error('No se encontró ningún elemento con la clase "sucursales"');
          }
    </script>
    {% endblock %}