{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/tabla.css">
    <h1 class="text-center">Consulta de Sucursales</h1>
    <a href="/agregarSucursal" class="btn btn-primary">Agregar Sucursal</a>
    <div class="table-container">
        <table border="1" class="table table-bordered">
            <thead class="thead-light">
                <tr class="table-danger">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfonos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="sucursales-table-body">
                <!-- Las filas de la tabla se insertarán aquí dinámicamente con JavaScript -->
            </tbody>
        </table>
    </div>
    <script>
  
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');

        function verSucursal(id) {
            window.location.href = `/detalleSucursal/${id}`;
        }
    
        function editarSucursal(id) {
            window.location.href = `/editarSucursal/${id}`;
        }
    
        function eliminarSucursal(id) {
            if (confirm("¿Estás seguro de que deseas eliminar esta sucursal?")) {
                fetch(`/eliminarSucursal/${id}`, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => {
                    // Manejar la respuesta del servidor, por ejemplo, redireccionar o mostrar un mensaje
                    console.log(data);
                    window.location.href = '/indexSucursal'; 
                })
                .catch(error => console.error('Error:', error));
            }
        }
    
        document.addEventListener('DOMContentLoaded', function () {
            const sucursalesTableBody = document.getElementById('sucursales-table-body');
    
            function appendRow(sucursal) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td class="table-light">${sucursal.id_sucursal}</td>
                    <td class="table-light">${sucursal.nombre}</td>
                    <td class="table-light">${sucursal.direccion}</td>
                    <td class="table-light">${sucursal.telefonos.map(t => t.numero).join(', ')}</td>
                    <td class="actions table-light">
                        <button class="ver-btn btn btn-outline-primary">Ver</button>
                        <button class="editar-btn btn btn-outline-info">Editar</button>
                        <button class="eliminar-btn btn btn-outline-danger">Eliminar</button>
                    </td>
                `;
                sucursalesTableBody.appendChild(newRow);
    
                // Asociar eventos después de agregar la fila al DOM
                newRow.querySelector('.ver-btn').addEventListener('click', () => verSucursal(sucursal.id_sucursal));
                newRow.querySelector('.editar-btn').addEventListener('click', () => editarSucursal(sucursal.id_sucursal));
                newRow.querySelector('.eliminar-btn').addEventListener('click', () => eliminarSucursal(sucursal.id_sucursal));
            }
    
            fetch('/listaSucursales')
                .then(response => response.json())
                .then(data => {
                    // Ordenar la lista de sucursales por id_sucursal
                    const sucursalesOrdenadas = data.sucursales.sort((a, b) => a.id_sucursal - b.id_sucursal);
                    sucursalesOrdenadas.forEach(appendRow);
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.sucursales');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
          } else {
            console.error('No se encontró ningún elemento con la clase "sucursales"');
          }
    </script>
    {% endblock %}