{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/detalle.css">
<div class="details-container">
    <h1>Detalles de Usuario</h1>
    <table class="details-table">
        <tbody id="usuario-details-body">
            <!-- Los detalles del usuario se insertarán aquí dinámicamente con JavaScript -->
        </tbody>
    </table>
</div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const usuarioDetailsBody = document.getElementById('usuario-details-body');
            const usuarioData = {{ usuario | tojson | safe }}; // Este valor debe ser pasado desde el servidor al renderizar la plantilla
            
            const order = ['id_usuario', 'nombre_usuario', 'password', 'fecha_registro', 'admin', 'sucursal_id'];

            function appendDetailRow(key, value) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td>${key}:</td>
                    <td>${key === 'admin' ? (value ? 'Sí' : 'No') : value}</td>
                `;
                usuarioDetailsBody.appendChild(newRow);
            }
            order.forEach(key => {
                appendDetailRow(key, usuarioData[key]);
            });
        });
    </script>
    {% endblock %}
