{% extends "layout.html" %}

{% block content %}

<h1 class="text-center mb-4">Editar Usuario</h1>

<form id="editar-usuario-form" class="container">
    <div class="row mb-3">
        <div class="col-sm-12">
            <label for="nombre_usuario" class="form-label">Nombre de usuario:</label>
            <input type="text" id="nombre_usuario" name="nombre_usuario" class="form-control" placeholder="Ingresa tu nombre de usuario">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Ingresa tu nueva contraseña">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            <label for="confirmar_password" class="form-label">Confirmar Contraseña:</label>
            <input type="password" id="confirmar_password" name="confirmar_password" class="form-control" placeholder="Confirma tu contraseña">
            <span id="password-match-message"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            <label for="admin" class="form-label">Admin:</label>
            <input type="checkbox" id="admin" name="admin">
        </div>
    </div>
<!--
    <div class="row mb-3">
        <div class="col-sm-12">
            <label for="sucursal_id" class="form-label">Sucursal:</label>
            <select id="sucursal_id" name="sucursal_id" class="form-select">
                {% for sucursal in sucursales %}
                    <option value="{{ sucursal.id_sucursal }}">{{ sucursal.nombre }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
-->
    <div class="row mb-3">
        <div class="col-12">
            <button type="submit" class="btn btn-success w-100" id="register-btn">Guardar Cambios</button>
        </div>
    </div>
</form>
    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');

        const registerForm = document.querySelector('#register-form');
        const passwordInput = document.querySelector('#password');
        const confirmarPasswordInput = document.querySelector('#confirmar_password');
        const passwordMatchMessage = document.querySelector('#password-match-message');
        const registerButton = document.querySelector('#register-btn');

         // Obtener los elementos del formulario
         const nombreUsuarioInput = document.getElementById('nombre_usuario');
         const adminCheckbox = document.getElementById('admin');
         //const sucursalSelect = document.getElementById('sucursal_id');

         // Llenar los campos con los valores del usuario y opciones de sucursales
         nombreUsuarioInput.value = "{{ usuario.nombre_usuario }}";
       
         adminCheckbox.checked = {{isAdmin}};
       
         // Seleccionar la sucursal actual del usuario
         //sucursalSelect.value = "{{ usuario.sucursal_id }}";

        // Función para verificar si las contraseñas coinciden
        function verificarCoincidenciaContrasena() {
            const password = passwordInput.value;
            const confirmarPassword = confirmarPasswordInput.value;

            if (password === confirmarPassword) {
                passwordMatchMessage.textContent = 'Las contraseñas coinciden.';
                passwordMatchMessage.style.color = 'green';
            } else {
                passwordMatchMessage.textContent = 'Las contraseñas no coinciden.';
                passwordMatchMessage.style.color = 'red';
            }
        }


        // Agregar eventos de escucha para verificar coincidencia en tiempo real
        passwordInput.addEventListener('input', verificarCoincidenciaContrasena);
        confirmarPasswordInput.addEventListener('input', verificarCoincidenciaContrasena);

        registerButton.addEventListener('click', (e) => {
            e.preventDefault();

            const nombre_usuario = document.querySelector('#nombre_usuario').value;
            const password = document.querySelector('#password').value;
            const confirmar_password = document.querySelector('#confirmar_password').value;
            const admin = document.querySelector('#admin').checked;
            //const sucursal_id = document.querySelector('#sucursal_id').value;

            if (passwordInput.value !== confirmarPasswordInput.value) {
                alert('Las contraseñas no coinciden. Por favor, inténtalo de nuevo.');
                return;
            }

            fetch('/editarUsuario/{{ usuario.id_usuario }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'nombre_usuario': nombre_usuario,
                    'password': password,
                    'admin': admin,
                    //'sucursal_id': sucursal_id
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'error') {
                    alert(data.message); 
                } else {
                    window.location.href = '/indexUsuario'; 
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.usuarios');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
        } else {
            console.error('No se encontró ningún elemento con la clase "usuarios"');
        }
    </script>
    {% endblock %}