<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/tabla.css">
    <h1 class="text-center">Consulta de Usuarios</h1>
    <a href="/agregarUsuario" class="btn btn-primary">Agregar Usuario</a>
    <div class="table-container">
        <table border="1" class="table table-bordered">
            <thead class="thead-light">
                <tr class="table-danger">
                    <th>ID Usuario</th>
                    <th>Nombre de Usuario</th>
                    <th>Password</th>
                    <th>Fecha de Registro</th>
                    <th>Admin</th>
                    <th>Sucursal ID</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="usuarios-table-body">
                <!-- Las filas de la tabla se insertarán aquí dinámicamente con JavaScript -->
            </tbody>
        </table>
    </div>
    <script>

        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');

        function verUsuario(id_usuario) {
            window.location.href = `/detalleUsuario/${id_usuario}`;
        }
    
        function editarUsuario(id_usuario) {
            window.location.href = `/editarUsuario/${id_usuario}`;
        }
    
        function eliminarUsuario(id_usuario) {
            if (confirm("¿Estás seguro de que deseas eliminar este usuario?")) {
                fetch(`/eliminarUsuario/${id_usuario}`, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => {
                    // Manejar la respuesta del servidor, por ejemplo, redireccionar o mostrar un mensaje
                    console.log(data);
                    window.location.href = '/indexUsuario'; 
                })
                .catch(error => console.error('Error:', error));
            }
        }
    
        document.addEventListener('DOMContentLoaded', function () {
            const usuariosTableBody = document.getElementById('usuarios-table-body');
    
            function appendRow(usuario) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td class="table-light"> ${usuario.id_usuario}</td>
                    <td class="table-light">${usuario.nombre_usuario}</td>
                    <td class="table-light">${usuario.password}</td>
                    <td class="table-light">${new Date(usuario.fecha_registro).toLocaleDateString()}</td>
                    <td class="table-light">${usuario.admin ? 'Sí' : 'No'}</td>
                    <td class="table-light">${usuario.sucursal_id}</td>
                    <td class="actions table-light">
                        <button class="ver-btn btn btn-outline-primary">Ver</button>
                        <button class="editar-btn btn btn-outline-info">Editar</button>
                        <button class="eliminar-btn btn btn-outline-danger">Eliminar</button>
                    </td>
                `;
                usuariosTableBody.appendChild(newRow);
    
                // Asociar eventos después de agregar la fila al DOM
                newRow.querySelector('.ver-btn').addEventListener('click', () => verUsuario(usuario.id_usuario));
                newRow.querySelector('.editar-btn').addEventListener('click', () => editarUsuario(usuario.id_usuario));
                newRow.querySelector('.eliminar-btn').addEventListener('click', () => eliminarUsuario(usuario.id_usuario));
            }
    
            fetch('/listaUsuarios')
                .then(response => response.json())
                .then(data => {
                    // Ordenar la lista de usuarios por id_usuario
                    const usuariosOrdenados = data.usuarios.sort((a, b) => a.id_usuario - b.id_usuario);
                    usuariosOrdenados.forEach(appendRow);
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.usuarios');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
          } else {
            console.error('No se encontró ningún elemento con la clase "usuarios"');
          }
    </script>
    {% endblock %}
