{% extends "layout.html" %}

{% block content %}
    <h1>Agregar Nueva Categoría</h1>
    <form id="categoria-form">
        <label for="nombre_categoria">Nombre de la Categoría</label>
        <input type="text" id="nombre_categoria" name="nombre_categoria" placeholder="Ingresa el nombre de la categoría">
        <br>
        <button type="submit" value="Agregar Categoría" id="categoria-btn">Agregar Categoría</button>
    </form>
    <script>
        const categoriaForm = document.getElementById('categoria-form');
        categoriaForm.addEventListener('submit', function (event) {
            event.preventDefault();

            const nombre_categoria = document.getElementById('nombre_categoria').value;

            fetch('/agregarCategoria', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'nombre_categoria': nombre_categoria
                })
            })
            .then(response => response.json())
            .then(data => {
                window.location.href = '/indexCategoria'; // Redirecciona a la página de categorías después de agregar
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
    {% endblock %}
