{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/tabla.css">
    <h1 class="text-center">Consulta de Productos</h1>
    <a href="/agregarProducto" class="btn btn-primary">Agregar Producto</a>
    <div class="table-container">
        <table border="1" class="table table-bordered">
            <thead class="thead-light">
                <tr class="table-danger">
                    <th>Código Producto</th>
                    <th>Sabor</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Categoría ID</th>
                    <th>Sucursal ID</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="productos-table-body">
                <!-- Las filas de la tabla se insertarán aquí dinámicamente con JavaScript -->
            </tbody>
        </table>
    </div>
    <script>
        function verProducto(codigo_producto) {
            window.location.href = `/detalleProducto/${codigo_producto}`;
        }
    
        function editarProducto(codigo_producto) {
            window.location.href = `/editarProducto/${codigo_producto}`;
        }
    
        function eliminarProducto(codigo_producto) {
            if (confirm("¿Estás seguro de que deseas eliminar este producto?")) {
                fetch(`/eliminarProducto/${codigo_producto}`, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    window.location.href = '/indexProducto'; 
                })
                .catch(error => console.error('Error:', error));
            }
        }
    
        function cambiarImagen(codigo_producto) {
            const inputFile = document.getElementById(`inputFile-${codigo_producto}`);
            //inputFile.click();
            inputFile.addEventListener('change', function() {
                const file = this.files[0];
                const formData = new FormData();
                formData.append('inputFile', file);
                fetch(`/modificarImagenProducto/${codigo_producto}`, {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    // Puedes actualizar la interfaz de usuario o proporcionar comentarios al usuario
                })
                .catch(error => console.error('Error:', error));
            });
        }
        
        document.addEventListener('DOMContentLoaded', function () {
            const productosTableBody = document.getElementById('productos-table-body');

            function appendRow(producto) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td class="table-light">${producto.codigo_producto}</td>
                    <td class="table-light">${producto.sabor}</td>
                    <td class="table-light">${producto.precio}</td>
                    <td class="table-light">${producto.cantidad}</td>
                    <td class="table-light">${producto.categoria_id}</td>
                    <td class="table-light">${producto.sucursal_id}</td>
                    <td class="actions table-light">
                        <button class="ver-btn btn btn-outline-primary" onclick="verProducto('${producto.codigo_producto}')">Ver</button>
                        <button class="editar-btn btn btn-outline-info" onclick="editarProducto('${producto.codigo_producto}')">Editar</button>
                        <button class="eliminar-btn btn-outline-danger" onclick="eliminarProducto('${producto.codigo_producto}')">Eliminar</button>
                        <button type="button" class="cambiarImagenLabel btn btn-outline-secondary" onclick="document.getElementById('inputFile-${producto.codigo_producto}').click();">Cambiar Imagen</button>
                        <input type="file" id="inputFile-${producto.codigo_producto}" name="inputFile" style="display: none;">
                    </td>
                `;
                productosTableBody.appendChild(newRow);

                // Asociar eventos después de agregar la fila al DOM
                newRow.querySelector('.ver-btn').addEventListener('click', () => verProducto(producto.codigo_producto));
                newRow.querySelector('.editar-btn').addEventListener('click', () => editarProducto(producto.codigo_producto));
                newRow.querySelector('.eliminar-btn').addEventListener('click', () => eliminarProducto(producto.codigo_producto));
                newRow.querySelector('.cambiarImagenLabel').addEventListener('click', () => cambiarImagen(producto.codigo_producto));
            }

            fetch('/listaProductos')
                .then(response => response.json())
                .then(data => {
                    // Ordenar la lista de productos por código de producto
                    const productosOrdenados = data.productos.sort((a, b) => a.codigo_producto.localeCompare(b.codigo_producto));
                    productosOrdenados.forEach(appendRow);
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.productos');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
        } else {
            console.error('No se encontró ningún elemento con la clase "productos"');
        }
    </script>
    {% endblock %}