{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/tabla.css">
    <h1 class="text-center">Consulta de Proveedores</h1>
    <a href="/agregarProveedor" class="btn btn-primary">Agregar Proveedor</a>
    <div class="table-container">
        <table border="1" class="table table-bordered">
            <thead class="thead-light">
                <tr class="table-danger">
                    <th>ID Proveedor</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="proveedores-table-body">
                <!-- Las filas de la tabla se insertarán aquí dinámicamente con JavaScript -->
            </tbody>
        </table>
    </div>
    <script>
        function verProveedor(id_proveedor) {
            window.location.href = `/detalleProveedor/${id_proveedor}`;
        }

        function editarProveedor(id_proveedor) {
            window.location.href = `/editarProveedor/${id_proveedor}`;
        }

        function eliminarProveedor(id_proveedor) {
            if (confirm("¿Estás seguro de que deseas eliminar este proveedor?")) {
                fetch(`/eliminarProveedor/${id_proveedor}`, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => {
                    // Manejar la respuesta del servidor, por ejemplo, redireccionar o mostrar un mensaje
                    console.log(data);
                    window.location.href = '/indexProveedor'; 
                })
                .catch(error => console.error('Error:', error));
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const proveedoresTableBody = document.getElementById('proveedores-table-body');

            function appendRow(proveedor) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td class="table-light">${proveedor.id_proveedor}</td>
                    <td class="table-light">${proveedor.nombres}</td>
                    <td class="table-light">${proveedor.apellidos}</td>
                    <td class="table-light">${proveedor.direccion}</td>
                    <td class="table-light">${proveedor.telefono}</td>
                    <td class="actions table-light">
                        <button class="ver-btn btn btn-outline-primary" onclick="verProveedor(${proveedor.id_proveedor})">Ver</button>
                        <button class="editar-btn btn btn-outline-info" onclick="editarProveedor(${proveedor.id_proveedor})">Editar</button>
                        <button class="eliminar-btn btn btn-outline-danger" onclick="eliminarProveedor(${proveedor.id_proveedor})">Eliminar</button>
                    </td>
                `;
                proveedoresTableBody.appendChild(newRow);
            }

            fetch('/listaProveedores')
                .then(response => response.json())
                .then(data => {
                    // Ordenar la lista de proveedores por id_proveedor
                    const proveedoresOrdenados = data.proveedores.sort((a, b) => a.id_proveedor - b.id_proveedor);
                    proveedoresOrdenados.forEach(appendRow);
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.proveedores');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
          } else {
            console.error('No se encontró ningún elemento con la clase "proveedores"');
          }
    </script>
    {% endblock %}