{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/tabla.css">
    <h1 class="text-center">Consulta de Encargos</h1>
    <a href="/agregarEncargo" class="btn btn-primary">Agregar Encargo</a>
    <div class="table-container">
        <table border="1" class="table table-bordered">
            <thead class="thead-light">
                <tr class="table-danger">
                    <th>ID Encargo</th>
                    <th>Código Materia Prima</th>
                    <th>Cantidad de Encargo</th>
                    <th>Cantidad a Pagar</th>
                    <th>Forma de Pago</th>
                    <th>Fecha de Encargo</th>
                    <th>ID Proveedor</th>
                    <th>ID Sucursal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="encargos-table-body">
                <!-- Las filas de la tabla se insertarán aquí dinámicamente con JavaScript -->
            </tbody>
        </table>
    </div>
    <script>

        function eliminarEncargo(id_encargo) {
            if (confirm("¿Estás seguro de que deseas eliminar este encargo?")) {
                fetch(`/eliminarEncargo/${id_encargo}`, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => {
                    // Manejar la respuesta del servidor, por ejemplo, redireccionar o mostrar un mensaje
                    console.log(data);
                    window.location.href = '/indexEncargo'; 
                })
                .catch(error => console.error('Error:', error));
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const encargosTableBody = document.getElementById('encargos-table-body');

            function appendRow(encargo) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td class="table-light">${encargo.id_encargo}</td>
                    <td class="table-light">${encargo.codigo_materia}</td>
                    <td class="table-light">${encargo.cantidad_encargo}</td>
                    <td class="table-light">${encargo.cantidad_a_pagar}</td>
                    <td class="table-light">${encargo.forma_pago}</td>
                    <td class="table-light">${encargo.fecha_encargo}</td>
                    <td class="table-light">${encargo.proveedor_id}</td>
                    <td class="table-light">${encargo.sucursal_id}</td>
                    <td class="actions table-light">
                        <button class="eliminar-btn btn-outline-danger">Eliminar</button>
                    </td>
                `;
                encargosTableBody.appendChild(newRow);

                // Asociar eventos después de agregar la fila al DOM
                newRow.querySelector('.eliminar-btn').addEventListener('click', () => eliminarEncargo(encargo.id_encargo));
            }

            fetch('/listaEncargos')
                .then(response => response.json())
                .then(data => {
                    // Ordenar la lista de encargos por id_encargo
                    const encargosOrdenados = data.encargos.sort((a, b) => a.id_encargo - b.id_encargo);
                    encargosOrdenados.forEach(appendRow);
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.encargos');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
          } else {
            console.error('No se encontró ningún elemento con la clase "encargos"');
          }
    </script>
    {% endblock %}
