{% extends "layout.html" %}

{% block content %}
    <h1>Agregar Nueva Materia Prima</h1>
    <form id="materia-prima-form" enctype="multipart/form-data">
        <label for="codigo_materia">Código de la Materia Prima</label>
        <input type="text" id="codigo_materia" name="codigo_materia" placeholder="Ingresa el código de la materia prima">
        <br>
        <label for="nombre_materia">Nombre de la Materia Prima</label>
        <input type="text" id="nombre_materia" name="nombre_materia" placeholder="Ingresa el nombre de la materia prima">
        <br>
        <label for="precio">Precio</label>
        <input type="number" id="precio" name="precio" placeholder="Ingresa el precio" step="0.01">
        <br>
        <label for="cantidad">Cantidad</label>
        <input type="number" id="cantidad" name="cantidad" placeholder="Ingresa la cantidad">
        <br>
        <label for="sucursal_id">Sucursal</label>
        <select id="sucursal_id" name="sucursal_id">
            {% for sucursal in sucursales %}
                <option value="{{ sucursal.id_sucursal }}">{{ sucursal.nombre }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="inputFile">Imagen</label>
        <input type="file" name="inputFile">
        <br>
        <button type="submit" value="Agregar Materia Prima" id="materia-prima-btn">Agregar Materia Prima</button>
    </form>
    <script>
        const materiaPrimaForm = document.getElementById('materia-prima-form');
        materiaPrimaForm.addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(materiaPrimaForm);
            fetch('/agregarMateriaPrima', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                window.location.href = '/indexMateriaPrima'; // Redirecciona a la página de materias primas después de agregar
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
{% endblock %}