{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/detalleconimagen.css">

    <h1>Detalles de Materia Prima</h1>
<div class="details-container">
    <table class="details-table">
        <tbody id="materia-prima-details-body">
            <!-- Los detalles de la materia prima se insertarán aquí dinámicamente con JavaScript -->
        </tbody>
    </table>
    <div class="product-card">
        <img src="data:image/png;base64,{{ imagens }}">
        <div>
            <h2 class="align-text-bottom ">{{ materia_prima.nombre_materia }}</h2>
            <!-- Otros detalles del producto, si es necesario -->
        </div>
    </div>
</div>
    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');

        document.addEventListener('DOMContentLoaded', function () {
            const materiaPrimaDetailsBody = document.getElementById('materia-prima-details-body');
            const materiaPrimaData = {{ materia_prima | tojson | safe }}; // Este valor debe ser pasado desde el servidor al renderizar la plantilla
            
            const labels = {
                'codigo_materia': 'Código de Materia Prima',
                'nombre_materia': 'Nombre',
                'precio': 'Precio',
                'cantidad': 'Cantidad',
                'sucursal_id': 'Sucursal ID'
            };

            function appendDetailRow(key, value) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td>${labels[key]}:</td>
                    <td>${value}</td>
                `;
                materiaPrimaDetailsBody.appendChild(newRow);
            }

            Object.keys(labels).forEach(key => {
                appendDetailRow(key, materiaPrimaData[key]);
            });
        });
    </script>
    <script>
        var elemento = document.querySelector('.materias');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
        } else {
            console.error('No se encontró ningún elemento con la clase "materias"');
        }
    </script>
{% endblock %}