{% extends "layout.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="../../static/css/tabla.css">
<h1 class="text-center">Consulta de Materias Primas</h1>
<a class="btn btn-primary" id="agregarMateriaPrima">Agregar Materia Prima</a>

<div class="table-container">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr class="table-danger">
                <th>Código Materia Prima</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Sucursal ID</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="materias-primas-table-body">
            <!-- Las filas de la tabla se insertarán aquí dinámicamente con JavaScript -->
        </tbody>
    </table>
</div>

    <script>
        const nombre_sucursal=localStorage.getItem('sucursal');
        const nombres=localStorage.getItem('nombres');
        const apellidos=localStorage.getItem('apellidos');


        var sucursales_disponibles;

function verificarMaterias() {

    if(sucursales_disponibles > 0){
        // Redirigir a la ruta '/agregarEmpleado'
        window.location.href = '/agregarMateriaPrima';
        }else{
            // Mostrar una alerta de SweetAlert si no hay usuarios disponibles
        Swal.fire({
            icon: 'error',
            title: '¡Error!',
            text: 'No hay sucursales disponibles. No puedes agregar una materia prima en este momento.',
        });

}
        }
document.getElementById('agregarMateriaPrima').addEventListener('click', verificarMaterias);


        function verMateriaPrima(codigo_materia) {
            window.location.href = `/detalleMateriaPrima/${codigo_materia}`;
        }
        function editarMateriaPrima(codigo_materia) {
            window.location.href = `/editarMateriaPrima/${codigo_materia}`;
        }
        function eliminarMateriaPrima(codigo_materia) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Esta acción no se puede deshacer',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/eliminarMateriaPrima/${codigo_materia}`, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => {
                    // Manejar la respuesta del servidor, por ejemplo, redireccionar o mostrar un mensaje
                    console.log(data);
                    Swal.fire({
                        title: 'Eliminada',
                        text: 'La materia prima ha sido eliminada correctamente',
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                    }).then(() => {
                        window.location.href = '/indexMateriaPrima';
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        title: 'Error',
                        text: 'Hubo un error al intentar eliminar la materia prima',
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                    });
                });
            }
        });
    }
    function cambiarImagen(codigo_materia) {
    Swal.fire({
        title: 'Aviso',
        text: 'La imagen se está cargando. Por favor, espera...',
        icon: 'info',
        showConfirmButton: false,
        allowOutsideClick: false, 
    });

    const inputFile = document.getElementById(`inputFile-${codigo_materia}`);
    let isCancelled = false;

    inputFile.addEventListener('change', function () {
        const file = this.files[0];

        if (file) {
            const formData = new FormData();
            formData.append('inputFile', file);

            fetch(`/modificarImagenMateriaPrima/${codigo_materia}`, {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                Swal.fire({
                    title: 'Carga Completa',
                    text: 'La imagen se ha cargado correctamente',
                    icon: 'success',
                    confirmButtonColor: '#3085d6',
                });

            })
            .catch(error => {
                console.error('Error:', error);
            });
        } else {
            isCancelled = true;
            Swal.close();  
        }
    });


    inputFile.addEventListener('cancel', function () {
    isCancelled = true;
    
    const timerInterval = 3000; // 5 segundos

    Swal.fire({
        title: 'Carga Cancelada',
        text: 'La imagen no se seleccionó. Cerrando en 5 segundos...',
        icon: 'warning',
        confirmButtonColor: '#3085d6',
        timer: timerInterval,
        timerProgressBar: true,
        showConfirmButton: false,
    }).then(() => {
        if (isCancelled) {
            Swal.close();  // Cerrar el modal de carga si se cancela la selección de archivo
        }
    });
});


    Swal.on('close', () => {
        if (isCancelled) {
            Swal.fire({
                title: 'Cancelado',
                text: 'La carga de imagen ha sido cancelada.',
                icon: 'warning',
                confirmButtonColor: '#d33',
            });
        }
    });
}
        document.addEventListener('DOMContentLoaded', function () {
            const materiasPrimasTableBody = document.getElementById('materias-primas-table-body');
            function appendRow(materiaPrima) {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td class="table-light">${materiaPrima.codigo_materia}</td>
                    <td class="table-light">${materiaPrima.nombre_materia}</td>
                    <td class="table-light">${materiaPrima.precio}</td>
                    <td class="table-light"> ${materiaPrima.cantidad}</td>
                    <td class="table-light">${materiaPrima.sucursal_id.nombre}</td>
                    <td class="actions table-light">
                        <button class="ver-btn btn btn-outline-primary">Ver</button>
                        <button class="editar-btn btn btn-outline-info">Editar</button>
                        <button class="eliminar-btn btn btn-outline-danger">Eliminar</button>
                        <button type="button" class="cambiarImagenLabel btn btn-outline-secondary" onclick="document.getElementById('inputFile-${materiaPrima.codigo_materia}').click();">Cambiar Imagen</button>
                        <input type="file" id="inputFile-${materiaPrima.codigo_materia}" name="inputFile" style="display: none;">
                    </td>
                `;
                materiasPrimasTableBody.appendChild(newRow);
                // Asociar eventos después de agregar la fila al DOM
                newRow.querySelector('.ver-btn').addEventListener('click', () => verMateriaPrima(materiaPrima.codigo_materia));
                newRow.querySelector('.editar-btn').addEventListener('click', () => editarMateriaPrima(materiaPrima.codigo_materia));
                newRow.querySelector('.eliminar-btn').addEventListener('click', () => eliminarMateriaPrima(materiaPrima.codigo_materia));
                newRow.querySelector('.cambiarImagenLabel').addEventListener('click', () => cambiarImagen(materiaPrima.codigo_materia));
            }
            fetch('/listaMateriasPrimas')
                .then(response => response.json())
                .then(data => {
                    // Ordenar la lista de materias primas por código_materia
                    const materiasPrimasOrdenadas = data.materias_primas.sort((a, b) => a.codigo_materia.localeCompare(b.codigo_materia));
                    materiasPrimasOrdenadas.forEach(appendRow);

                    sucursales_disponibles=data.sucursales_disponibles;
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        var elemento = document.querySelector('.materias');
        if (elemento) {
            // Agrega la clase 'active' al elemento
            elemento.classList.add('active');
        } else {
            console.error('No se encontró ningún elemento con la clase "materias"');
        }
    </script>
    {% endblock %}
