<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} Parcial 3 APP {%endblock%}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/layout.css">
</head>
<style>
    #oculto {
        display: none;
    }
</style>
<body onload="checkToken()">
    <!-- Barra de navegación -->
    
        <div class="navigation navbar navbar-expand-lg navbar-light bg-light">
            <ul>      
             
                <li class="sucursales">
                    <a href="{{'/indexSucursal'}}">
                        <span class="icon">
                            <i class="fa-solid fa-store"></i>                    
                        </span>
                        <span class="text">Sucursales</span>
                    </a>
                </li>
                <li class="productos">
                    <a href="{{'/indexProducto'}}">
                        <span class="icon">
                            <i class="fa-solid fa-ice-cream"></i>                    
                        </span>
                        <span class="text">Productos</span>
                    </a>
                </li>
                <li class="categorias">
                    <a href="{{'/indexCategoria'}}">
                        <span class="icon">
                            <i class="fa-solid fa-list"></i>                    
                        </span>
                        <span class="text">Categorias</span>
                    </a>
                </li>
                <li class="materias">
                    <a href="{{'/indexMateriaPrima'}}">
                        <span class="icon">
                            <i class="fa-solid fa-boxes-stacked"></i>                    
                        </span>
                        <span class="text">Materias Primas</span>
                    </a>
                </li>
                <li class="empleados">
                    <a href="{{'/indexEmpleado'}}">
                        <span class="icon">
                            <i class="fa-solid fa-person"></i>                    
                        </span>
                        <span class="text">Empleados</span>
                    </a>
                </li>
                <li class="clientes">
                    <a href="{{'/indexCliente'}}">
                        <span class="icon">
                            <i class="fa-solid fa-place-of-worship"></i>                    
                        </span>
                        <span class="text">Clientes</span>
                    </a>
                </li>
                <li class="inicio">
                    <a href="{{'/agregarVenta'}}">
                        <span class="icon">
                            <i class="fa-solid fa-house"></i>                    
                        </span>
                        <span class="text">Inicio</span>
                    </a>
                </li>
                <li class="proveedores">
                    <a href="{{'/indexProveedor'}}">
                        <span class="icon">
                            <i class="fa-solid fa-truck-moving"></i>                    
                        </span>
                        <span class="text">Proveedores</span>
                    </a>
                </li>
                <li class="encargos">
                    <a href="{{'/indexEncargo'}}">
                        <span class="icon">
                            <i class="fa-solid fa-bag-shopping"></i>                    
                        </span>
                        <span class="text">Encargos</span>
                    </a>
                </li>
                <li class="ventas">
                    <a href="{{'/indexVenta'}}">
                        <span class="icon">
                            <i class="fa-solid fa-money-bill"></i>                    
                        </span>
                        <span class="text">Ventas</span>
                    </a>
                </li>
                <li class="usuarios">
                    <a href="{{'/indexUsuario'}}">
                        <span class="icon">
                            <i class="fa-solid fa-users"></i>                    
                        </span>
                        <span class="text">Usuarios</span>
                    </a>
                </li>
                <li class="reportes">
                    <a href="{{'/Archivos'}}">
                        <span class="icon">
                            <i class="fa-solid fa-print"></i>                    
                        </span>
                        <span class="text">Reportes</span>
                    </a>
                </li>
                <li class="cerrar">
                    <a onclick="cerrarSesion()">
                        <span class="icon">
                            <i class="fa-solid fa-door-open"></i>                   
                        </span>
                        <span class="text">Cerrar Sesión</span>
                    </a>
                </li>
            
                <div class="indicator"></div>
            </ul>
        </div>
  
       
            <main class="container mt-3">
                {%block content%}
                {%endblock%}
            </main>
       

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
        <div class="container p-2">
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Nevería Glaciar</h5>
                    <p>¡La mejor experiencia en helados y postres!</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase" id="idSucursal"></h5>
                    <div id="nombreSucursal"></div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase" id="idUsuario"></h5>
                    <div id="nombreUsuario"></div>
                </div>
            </div>
        </div>
    </footer>  
</body>
<script>

    const usuario=localStorage.getItem('usuario');
    const admin=localStorage.getItem('admin');

     // Mostrar las rutas adicionales solo si admin es 'true'
     if (admin !== 'true') {
        const elementosParaQuitar = document.querySelectorAll('.sucursales, .materias, .empleados, .clientes, .proveedores, .ventas, .reportes, .usuarios');
        elementosParaQuitar.forEach(elemento => {
            elemento.remove();
        });
    }

    if(admin=="true"){
            const miHS = document.getElementById('idSucursal');  
            const miDivS = document.getElementById('nombreSucursal');
            const miHU = document.getElementById('idUsuario');
            const miDivU = document.getElementById('nombreUsuario');
            miHS.textContent = "Sucursales";
            miDivS.textContent = "Todas disponibles";
            miHU.textContent = "Bienvenido Administrador@";
            miDivU.textContent = usuario;
    }else{
            const miHS = document.getElementById('idSucursal');
            const miDivS = document.getElementById('nombreSucursal');
            const miHU = document.getElementById('idUsuario');
            const miDivU = document.getElementById('nombreUsuario');
            miHS.textContent = "Sucursal";
            miDivS.textContent = nombre_sucursal;
            miHU.textContent = "Lo Atiende";
            miDivU.textContent = nombres + " " + apellidos;
            esAdministrador=false;
    }
    

    console.log(usuario);

     function checkToken() {
         var token = localStorage.getItem('token');
         if (token) {
             fetch(`/login?token=${token}`)
             .then(response => response.json())
             .then(data =>{
                 console.log(data.message);
                 if(data.message != 'valid_token'){
                     localStorage.removeItem('token');
                     window.location.href = '/login';
                 }
             })
             .catch(error =>{
                 window.location.href = '/login';
             })
         }
         else{
             window.location.href = '/login';
         }
     }
     function cerrarSesion() {
        // Preguntar al usuario si está seguro de cerrar sesión
        var confirmacion = window.confirm("¿Estás seguro de cerrar sesión?");
        
        // Si el usuario confirma, proceder con el cierre de sesión
        if (confirmacion) {
            var token = localStorage.getItem('token');
            if (token) {
                fetch(`/login?token=${token}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    if(data.message === 'valid_token'){
                        localStorage.removeItem('token');
                        window.location.href = '/login';
                    }
                })
                .catch(error => {
                    window.location.href = '/login';
                })
            }
            else {
                window.location.href = '/login';
            }
        }
        // Si el usuario cancela, no hacer nada
    }
    
</script>
<script>
    // Obtén la cadena de consulta de la URL actual
//const queryString = window.location.search;

// Parsea la cadena de consulta en un objeto con parámetros clave-valor
//const urlParams = new URLSearchParams(queryString);

// Obtiene el valor de un parámetro específico
//const encodedData = urlParams.get('data');

// Decodifica la cadena y conviértela de nuevo a un objeto JSON
//const decodedData = JSON.parse(decodeURIComponent(encodedData));

//console.log(decodedData); // Mostrará el objeto JSON en la consola
//const nombreUsuario = decodedData.nombre_usuario;
// Obtén el div en el que quieres mostrar el valor
//const miDiv = document.getElementById('nombreUsuario');

// Accede a la propiedad específica del objeto JSON y agrégala al div
//miDiv.textContent = nombreUsuario;
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>